@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Neuton:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Neuton:wght@200&family=Roboto:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Neuton:wght@200&family=Roboto:wght@300&family=Sanchez&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Neuton:wght@200&family=Prata&family=Roboto:wght@300&family=Sanchez&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Karma:wght@500&family=Neuton:wght@200&family=Prata&family=Roboto:wght@300&family=Sanchez&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Proza+Libre&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Trirong&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Work+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Taviraj&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Eczar&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gentium+Basic&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Arvo&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster+Two&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playball&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Handlee&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Tangerine&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bad+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Marck+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Charm&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lateef&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Niconne&display=swap");

:root {
  /* COLORS */
  /* Grey shades*/
  --grey-100: #f8fafc;
  --grey-200: #f1f5f9;
  --grey-300: #e2e8f0;
  --grey-400: #cbd5e1;
  --grey-500: #94a3b8;
  --grey-600: #64748b;
  --grey-700: #475569;
  --grey-800: #334155;
  --grey-900: #1e293b;

  /* Primary (Blue shades) */
  --primary-100: #cde4fb;
  --primary-200: #9bcaf8;
  --primary-300: #68aff4;
  --primary-400: #3695f1;
  --primary-500: #047aed;
  --primary-600: #0362be;
  --primary-700: #02498e;
  --primary-800: #02315f;
  --primary-900: #01182f;

  /* Tecondary (purple shades) */
  --secondary-100: #e2e0ff;
  --secondary-200: #c1beff;
  --secondary-300: #a29dff;
  --secondary-400: #837dff;
  --secondary-500: #645cff;
  --secondary-600: #504acc;
  --secondary-700: #3c3799;
  --secondary-800: #282566;
  --secondary-900: #141233;

  /* Tertiary (pink shades) */
  --tertiary-100: #fff2f5;
  --tertiary-200: #ffe6ea;
  --tertiary-300: #ffd9e0;
  --tertiary-400: #ffcdd5;
  --tertiary-500: #ffc0cb;
  --tertiary-600: #cc9aa2;
  --tertiary-700: #99737a;
  --tertiary-800: #664d51;
  --tertiary-900: #332629;

  /* Stroke (green shades) */
  --stroke-100: #cce6cc;
  --stroke-200: #99cc99;
  --stroke-300: #66b366;
  --stroke-400: #339933;
  --stroke-500: #008000;
  --stroke-600: #006600;
  --stroke-700: #004d00;
  --stroke-800: #003300;
  --stroke-900: #001a00;

  /* Spin (orange shades) */
  --spin-100: #ffedcc;
  --spin-200: #ffdb99;
  --spin-300: #ffc966;
  --spin-400: #ffb733;
  --spin-500: #ffa500;
  --spin-600: #cc8400;
  --spin-700: #996300;
  --spin-800: #664200;
  --spin-900: #332100;

  /* Split (yellow shades) */
  --split-100: #ffffcc;
  --split-200: #ffff99;
  --split-300: #ffff66;
  --split-400: #ffff33;
  --split-500: #ffff00;
  --split-600: #cccc00;
  --split-700: #999900;
  --split-800: #666600;
  --split-900: #333300;

  /* Red */
  --red-100: #ffcccc;
  --red-200: #ff9999;
  --red-300: #ff6666;
  --red-400: #ff3333;
  --red-500: #ff0000;
  --red-600: #cc0000;
  --red-700: #990000;
  --red-800: #660000;
  --red-900: #330000;

  /* Dark and light */
  --dark-color: #000000;
  --light-color: #ffffff;

  /*Heading fonts */
  --headingfont-1: "Neuton", sans-serif; /* */ /* */
  --headingfont-2: "Prata", sans-serif;
  --headingfont-3: "Lato", sans-serif; /* */ /* */
  --headingfont-4: "Cormorant Garamond", sans-serif; /* */ /* */
  --headingfont-5: "Gentium Basic", sans-serif; /* */ /* */
  --headingfont-6: "Trirong", sans-serif; /* */
  --headingfont-7: "Proza Libre", sans-serif;
  --headingfont-8: "Libre Franklin", sans-serif;
  --headingfont-9: "Work Sans", sans-serif;
  --headingfont-10: "Montserrat", sans-serif;
  --headingfont-11: "Josefin Sans", sans-serif;
  --headingfont-12: "Lateef", sans-serif;

  /* Body fonts */
  --bodyfont-1: "Roboto", sans-serif; /* */
  --bodyfont-2: "Sanchez", sans-serif; /* */
  --bodyfont-3: "karma", sans-serif; /* */
  --bodyfont-4: "Nunito", sans-serif; /* */
  --bodyfont-5: "Proza Libre", sans-serif;
  --bodyfont-6: "Libre Franklin", sans-serif; /* */
  --bodyfont-7: "Libre Baskerville", sans-serif;
  --bodyfont-8: "Trirong", sans-serif; /* */
  --bodyfont-9: "Rubik", sans-serif; /* */ /* */
  --bodyfont-10: "Work Sans", sans-serif; /* */ /* */
  --bodyfont-11: "Taviraj", sans-serif; /* */ /* */

  /* Fancy fonts */
  --fancyfont-1: "Eczar", sans-serif;
  --fancyfont-2: "Dancing Script", sans-serif;
  --fancyfont-3: "Lobster Two", sans-serif;
  --fancyfont-4: "Playball", sans-serif;
  --fancyfont-5: "Handlee", sans-serif;
  --fancyfont-6: "Tangerine", sans-serif;
  --fancyfont-7: "Bad Script", sans-serif;
  --fancyfont-8: "Marck Script", sans-serif;
  --fancyfont-9: "Charm", sans-serif;
  --fancyfont-10: "Niconne", sans-serif;

  /* Font weights */
  --font-weight-1: 400;
  --font-weight-2: 600;

  /* Letter spacing */
  --letterspacing-1: 1.2px;
  --letterspacing-2: 1.5px;
  --letterspacing-3: 1.7px;

  /* Font sizes */
  --font-size-1: 1rem; /* 16px */
  --font-size-2: 1.025rem; /* 16.4px */
  --font-size-3: 1.125rem; /* 18px */
  --font-size-4: 1.25rem; /* 20px */
  --font-size-5: 1.5rem; /* 24px */
  --font-size-6: 2rem;
  --font-size-7: 2.5rem;
  --font-size-8: 3rem;
  --font-size-9: 3.5rem;
  --font-size-10: 4rem;
  --font-size-11: 4.5rem;
  --font-size-12: 5rem;
  --font-size-13: 5.5rem;

  /* Containers */
  --max-width-1: 1100px;
  --max-width-2: 1200px;
  --max-width-3: 1300px;
  --max-width-4: 1400px;

  /* Transitions */
  --transition-1: 0.2s ease-in-out all;
  --transition-2: 0.3s ease-in-out all;

  /* Alerts */
  --alert-success: var(--stroke-400);
  --alert-error: var(--red-600);

  /* Box shadow*/
  --shadow-1: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  --shadow-2: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  --shadow-3: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  --shadow-4: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);

  /* Other variables */
  --background-color: var(--grey-100);
  --text-color: var(--dark-color);
}

html {
  font-size: 100%;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*::after,
::before {
  box-sizing: border-box;
}

body {
  line-height: 1.75;
  font-size: var(--font-size-1);
  font-family: var(--bodyfont-11);
  background-color: var(--background-color);
  color: var(--text-color);
  margin: 0 0.625rem;
  padding: 0 0.625rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 2rem 0 1rem 0;
  text-transform: capitalize;
  line-height: 1.2;
  font-weight: var(--font-weight-1);
  font-family: var(--headingfont-1);
  color: var(--dark-color);
}

h1 {
  font-size: var(--font-size-8);
}

h2 {
  font-size: var(--font-size-6);
}

h3 {
  font-size: var(--font-size-5);
}
h4 {
  font-size: var(--font-size-1);
}

p {
  margin: 1.25rem 0;
  max-width: 600px;
}

a {
  cursor: pointer;
  text-decoration: none;
}

a:hover {
  color: var(--primary-700);
}

ul {
  list-style-type: none;
}

.img {
  width: 100%;
  display: block;
  object-fit: cover;
}

i {
  padding: 10px;
}

.text-center {
  text-align: center;
}

/* Containers */
.container-1 {
  max-width: var(--max-width-1);
  overflow: auto;
  margin: 0 auto;
}

.container-2 {
  max-width: var(--max-width-2);
  overflow: auto;
  margin: 0 auto;
}

.container-3 {
  max-width: var(--max-width-3);
  overflow: auto;
  margin: 0 auto;
}

.container-4 {
  max-width: var(--max-width-4);
  overflow: auto;
  margin: 0 auto;
}

.top {
  margin: 20px 0 1rem 0;
}

/* Backgrounds */
.bg-grey {
  background-color: var(--grey-300);
  color: var(--text-color);
}

/* Buttons */
.btn {
  display: inline-block;
  border: none;
  background-color: transparent;
  padding: 20px 40px;
  text-transform: capitalize;
  border-radius: 5px;
  box-shadow: var(--shadow-1);
  transition: var(--transition-2);
  text-align: center;
}

.btn-thin {
  padding: 10px 30px;
}

.btn-medium {
  padding: 15px 40px;
}

.btn-outline {
  background-color: transparent;
  border: 2px solid var(--secondary-500);
  color: var(--text-color);
}

.btn-transparent {
  background-color: #fff;
  border: 1px solid #fff;
  color: var(--dark-color);
}

.btn-span {
  width: 100%;
}

.btn:hover {
  transform: scale(0.98);
}

.btn-no-hover:hover {
  transform: none;
}

.btn-primary,
.bg-primary {
  background-color: var(--primary-500);
  color: var(--light-color);
}

.btn-secondary,
.bg-secondary {
  background-color: var(--secondary-500);
  color: var(--light-color);
}

.btn-tertiary,
.bg-tertiary {
  background-color: var(--tertiary-600);
  color: var(--dark-color);
}

.btn-dark,
.bg-dark {
  background-color: var(--dark-color);
  color: var(--light-color);
}

.bg-primary a,
.btn-primary a,
.bg-secondary a,
.btn-secondary a,
.bg-dark a,
.btn-dark a {
  color: #fff;
}

/* Alerts */
.alert {
  margin: 20px 0px;
  border: 2px;
  font-weight: var(--font-weight-1);
  color: #fff;
  letter-spacing: var(--letterspacing-2);
}

.alert-error {
  background-color: var(--alert-error);
}

.alert-success {
  background-color: var(--alert-success);
}

.alert i {
  margin: 5px;
  padding: 10px;
  background-color: var(--grey-500);
  border-radius: 50%;
  color: var(--grey-700);
}

.card {
  background-color: #fff;
  color: #333;
  padding: 20px;
  margin: 10px;
  border-radius: 10px;
  width: 500px;
  box-shadow: var(--shadow-4);
}

/* Forms */
.form {
  position: relative;
  background-color: #fff;
  color: #333;
  padding: 20px;
  margin: 10px;
  border-radius: 10px;
  width: 450px;
  box-shadow: var(--shadow-4);
  z-index: 100;
}

.form-control {
  background-color: transparent;
  margin: 20px 0;
  padding: 10px 0;
}

.form-control input {
  font-size: var(--font-size-1);
}

.form-control input[type="text"],
.form-control input[type="email"] {
  outline: none;
  border: none;
  border-bottom: 2px #b4becb solid;
  width: 100%;
}

::placeholder {
  text-transform: capitalize;
}

.form-control:focus {
  outline: none;
}

/* Form-2 */
.form-2 {
  position: relative;
  background-color: #fff;
  color: #333;
  padding: 20px;
  margin: 10px;
  border-radius: 10px;
  width: 450px;
  box-shadow: var(--shadow-4);
  z-index: 100;
}

.form-info {
  margin: 20px 0;
  padding: 15px 0;
}

.form-info input[type="text"],
.form-info input[type="email"] {
  border: 2px #b4becb solid;
  border-radius: 3px;
  width: 100%;
  height: 40px;
  background-color: var(--grey-200);
}

.form-info input[type="text"]:focus,
.form-info input[type="email"]:focus {
  outline: none;
}

.form-info input {
  font-size: var(--font-size-1);
}

/* Text sizes */
.lead {
  font-size: var(--font-size-4);
}

.sm {
  font-size: var(--font-size-1);
}

.md {
  font-size: var(--font-size-6);
}

.lg {
  font-size: var(--font-size-8);
}

.xl {
  font-size: var(--font-size-10);
}

/* Loading */
@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

.loading {
  width: 2rem;
  height: 2rem;
  border: 5px solid var(--grey-400);
  border-radius: 50%;
  border-top-color: var(--secondary-500);
  animation: spinner 0.6s linear infinite;
}

.loading {
  margin: 0 auto;
}

.loading-sm {
  width: 2rem;
  height: 2rem;
}

.loading-md {
  width: 4rem;
  height: 4rem;
}

.loading-fancy {
  width: 3rem;
  height: 2rem;
  border: 5px solid var(--grey-900);
}
